#crate {
  content: url("../files/crate-left.svg");
}
#chain {
  content: url("../files/chain-right.svg");
}

#donut {
  content: url("../files/donut-left.svg");
}
#box {
  content: url("../files/box-right.svg");
}
#sphere {
  content: url("../files/sphere-left.svg");
}
#ellipse {
  content: url("../files/ellipse-right.svg");
}
