.comments-section-container {
  display: flex;
  width: 100%;
  min-height: 693px;
  background-color: #F4F5FA;
  justify-content: center;
  align-items: center;
  padding: 56px 0;


  .comments-section-wrapper {
    width: 1169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .comments-container {
      width: 100%;
      min-height: 450px;
      display: flex;
      flex-direction: column;
      transition: min-height 0.2s ease-out;

      &.expand {
        min-height: 1274px;
      }

      .comments-wrapper {
        height: 207px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;

        .comments-item {
          border-radius: 20px;
          width: 357px;
          height: 207px;
          background-color: white;
          padding: 27px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;

          .item-header {
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;

            .item-pfp {
              content: url("../files/profile-icon.svg");
              height: 56px !important;
              width: 56px !important;
            }

            .item-data {
              width: 100%;
              height: 40px;
              margin-left: 11px;
              justify-content: space-between;
              align-items: flex-start;
              display: flex;
              flex-direction: column;

              .data-name {
                font-weight: 400;
              }
            }
          }

          .item-body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }


        }
      }
    }

    .all-reviews-button {
      width: 100%;
      height: 60px;
      border-radius: 20px;
      font-size: 19px;
      font-weight: 400;

    }
  }
}