@charset "UTF-8";
.selector-for-some-widget {
  box-sizing: content-box;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

svg {
  display: block;
}

li {
  list-style: none;
}

a,
a:visited {
  color: black;
}

:root {
  --main-padding: 0 400px;
}

@font-face {
  font-family: Readex-Pro;
  src: url("../fonts/Readex-Pro.ttf");
}
@font-face {
  font-family: Roboto-Slab;
  src: url("../fonts/Roboto-Slab.ttf");
}
.no-outline {
  border: none;
}

.no-outline:focus {
  outline: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: Readex-Pro, serif;
  background: linear-gradient(#fff, #9a82db 60%) center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  max-width: 100%;
}

ul, li {
  padding: 0;
}

svg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.rect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.blue {
  background: #516AE4;
  color: white;
}

.bottom-border-radius-flat {
  border-radius: 15px 15px 0 0 !important;
}

.expand {
  max-height: 250px !important;
}
.expand .currency-list {
  max-height: 240px !important;
}

.hidden {
  display: none !important;
  max-width: 0;
  max-height: 0;
}

.currency-logo {
  width: 40px;
  height: 40px;
}

.button {
  cursor: pointer;
}
.button:hover {
  border: 1px solid rgba(205, 205, 205, 0.6);
}
.button:active {
  border: 1px solid #DADADA;
  color: #516AE4;
  background-color: #ffffff;
}

.Bitcoin {
  content: url("../files/coin/bitcoin.svg");
}

.Ethereum {
  content: url("../files/coin/ethereum.svg");
}

.Cardano {
  content: url("../files/coin/cardano.svg");
}

.Binance {
  content: url("../files/coin/binance.svg");
}

.Dash {
  content: url("../files/coin/dash.svg");
}

.Dogecoin {
  content: url("../files/coin/dogecoin.svg");
}

.Dollar {
  content: url("../files/coin/dollar.svg");
}

.Euro {
  content: url("../files/coin/euro.svg");
}

.Ruble {
  content: url("../files/coin/ruble.svg");
}

.Krona {
  content: url("../files/coin/krona.svg");
}



/*# sourceMappingURL=default.css.map */
