@charset "UTF-8";
.header-container {
  position: static;
  display: flex;
  height: 77px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-container.open {
  position: fixed;
  top: 0;
  z-index: 101;
}
.header-container .header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-logo {
  width: 245px;
  height: 61px;
  content: url("../files/tonka-logo.svg");
}
.header-container .header-wrapper .header-logo:hover {
  content: url("../files/tonka-logo-hover.svg");
}
.header-container .header-wrapper .header-logo:active {
  content: url("../files/tonka-logo-active.svg");
}
.header-container .header-wrapper .header-nav-container {
  width: 670px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper {
  display: flex;
  width: 438px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: 100%;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-icon {
  margin-left: 7px;
  width: 22px;
  height: 22px;
  display: block;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-icon.support {
  content: url("../files/after-question.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-icon.rules {
  content: url("../files/after-info.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-icon.partners {
  content: url("../files/after-check.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-icon.reviews {
  content: url("../files/after-send.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a:hover {
  color: #5a498a;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a:active {
  color: #9a82db;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button {
  width: 90px;
  height: 37px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button:hover {
  border-width: 2px;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button:active {
  color: #516AE4;
}
.header-container #hamburger-menu-wrapper {
  display: none;
}

@media only screen and (max-height: 550px) {
  #hamburger-menu {
    height: 100% !important;
  }
}
@media only screen and (max-width: 860px) {
  #hamburger-button {
    display: block !important;
    left: 15px;
  }
  .header-nav-container {
    display: none !important;
  }
  #hamburger-menu-wrapper {
    display: flex !important;
  }
  .header-logo {
    position: absolute !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 101;
  }
}
@media only screen and (min-width: 861px) and (max-width: 1024px) {
  .header-container .header-wrapper .header-nav-container {
    width: 530px;
  }
  .header-container .header-wrapper .header-nav-container .navbar-wrapper {
    width: 290px !important;
  }
  .header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-icon {
    display: none !important;
  }
}
#hamburger-menu-wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;
  transform: translateX(-100%);
  transition: transform 0.15s ease;
  padding: 75px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
#hamburger-menu-wrapper.open {
  transform: translateX(0);
}
#hamburger-menu-wrapper #hamburger-menu {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 75px 0;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item {
  display: flex;
  width: 100% !important;
  height: 70px !important;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a {
  display: flex;
  width: 100% !important;
  height: 70px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #516AE4 !important;
  transition: 0.02ms ease-in-out;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a:hover {
  color: white !important;
  background: #516AE4 !important;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a:active {
  border: none !important;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a:before {
  content: ">";
  left: 10px;
  position: relative;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a.profile-text {
  font-weight: bold !important;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a.profile-text:before {
  content: "•";
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a .menu-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -10px;
}
#hamburger-menu-wrapper #hamburger-menu .menu-item a .menu-text.profile-text {
  font-weight: bold;
}

#hamburger-button {
  width: 30px;
  height: 27px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  display: none;
  z-index: 100;
}

#hamburger-button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #516AE4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  z-index: 101;
}

#hamburger-button span:nth-child(1) {
  top: 0;
}

#hamburger-button span:nth-child(2), #hamburger-button span:nth-child(3) {
  top: 9px;
}

#hamburger-button span:nth-child(4) {
  top: 18px;
}

#hamburger-button.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#hamburger-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-button.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

/*# sourceMappingURL=header-styles.css.map */
