.header-container {
  display: flex;
  height: 106px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0 106px;

  .header-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      width: 245px;
      height: 61px;
      content: url("../files/tonka-logo.svg");

      &:hover {
        content: url("../files/tonka-logo-hover.svg");
      }

      &:active {
        content: url("../files/tonka-logo-active.svg");

      }
    }

    .header-nav-container {
      width: 705px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-wrapper {
        display: flex;
        width: 445px;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        height: 100%;

        .navbar-item a {
          display: flex;
          align-items: center;
          justify-content: center;

          .navbar-item {
            height: 100%;
            margin-left: 7px;

            &.support {
              content: url("../files/after-question.svg");
            }

            &.rules {
              content: url("../files/after-info.svg");
            }

            &.partners {
              content: url("../files/after-check.svg");
            }

            &.reviews {
              content: url("../files/after-send.svg");
            }
          }

          &:hover {
            color: #5a498a;
          }

          &:active {
            color: #9a82db;
          }

        }
      }

      .profile-wrapper {
        width: 218px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-button {
          width: 102px;
          height: 43px;
          border-radius: 10px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;

          &:hover {
            border-width: 2px;
          }

          &:active {
            color: #516AE4;
          }
        }
      }
    }
  }
}