@charset "UTF-8";
.header-container {
  display: flex;
  height: 77px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-container .header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-logo {
  width: 245px;
  height: 61px;
  content: url("../files/tonka-logo.svg");
}
.header-container .header-wrapper .header-logo:hover {
  content: url("../files/tonka-logo-hover.svg");
}
.header-container .header-wrapper .header-logo:active {
  content: url("../files/tonka-logo-active.svg");
}
.header-container .header-wrapper .header-nav-container {
  width: 670px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper {
  display: flex;
  width: 438px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: 100%;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-item {
  margin-left: 7px;
  width: 22px;
  height: 22px;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-item.support {
  content: url("../files/after-question.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-item.rules {
  content: url("../files/after-info.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-item.partners {
  content: url("../files/after-check.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a .navbar-item.reviews {
  content: url("../files/after-send.svg");
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a:hover {
  color: #5a498a;
}
.header-container .header-wrapper .header-nav-container .navbar-wrapper .navbar-item a:active {
  color: #9a82db;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button {
  width: 90px;
  height: 37px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button:hover {
  border-width: 2px;
}
.header-container .header-wrapper .header-nav-container .profile-wrapper .profile-button:active {
  color: #516AE4;
}

@media screen and (min-device-width: 350px) and (orientation: portrait) {
  #hamburger-button {
    display: block !important;
    position: fixed;
  }
  #hamburger-button.open {
    margin-right: 10px;
  }
  .header-container {
    padding-left: 0;
  }
  .header-container .header-nav-container {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    flex-direction: column-reverse;
    top: 75px;
    left: 100%;
    background: white;
    justify-content: center !important;
    align-items: center !important;
    transition: 0.1s ease-in-out;
    visibility: hidden;
    padding: 0;
  }
  .header-container .header-nav-container.open {
    left: 0;
    position: fixed !important;
    visibility: visible;
  }
  .header-container .header-nav-container .navbar-wrapper, .header-container .header-nav-container .profile-wrapper {
    position: relative;
    top: -70px;
  }
  .header-container .header-nav-container .navbar-wrapper {
    flex-direction: column;
    width: 100vw !important;
    height: auto !important;
    justify-content: center;
    align-items: center;
  }
  .header-container .header-nav-container .navbar-wrapper .navbar-item {
    text-align: center;
  }
  .header-container .header-nav-container .navbar-wrapper .navbar-item .navbar-text:after {
    content: "•";
    position: absolute;
    right: 10px;
  }
  .header-container .header-nav-container .navbar-wrapper .navbar-item .navbar-icon {
    display: none;
  }
  .header-container .header-nav-container .profile-wrapper {
    flex-direction: column;
    height: auto !important;
    width: 100% !important;
  }
  .header-container .header-nav-container .profile-wrapper .profile-button:after {
    content: "<";
    position: absolute;
    right: 10px;
  }
  .header-container .header-nav-container .profile-button, .header-container .header-nav-container .navbar-item, .header-container .header-nav-container a {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    height: 70px !important;
    border: none !important;
    background: none;
    color: #516AE4 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }
  .header-container .header-nav-container .profile-button:hover, .header-container .header-nav-container .navbar-item:hover, .header-container .header-nav-container a:hover {
    color: white !important;
    background: #516AE4 !important;
  }
  .header-container .header-nav-container .profile-button:active, .header-container .header-nav-container .navbar-item:active, .header-container .header-nav-container a:active {
    border: none !important;
  }
  .header-container .header-nav-container .profile-button {
    color: #0028ff !important;
    font-weight: 600 !important;
  }
}
#hamburger-button {
  width: 30px;
  height: 45px;
  top: 11px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  display: none;
}

#hamburger-button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #516AE4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  z-index: 101;
}

#hamburger-button span:nth-child(1) {
  top: 0;
}

#hamburger-button span:nth-child(2), #hamburger-button span:nth-child(3) {
  top: 9px;
}

#hamburger-button span:nth-child(4) {
  top: 18px;
}

#hamburger-button.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#hamburger-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-button.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

/*# sourceMappingURL=header-styles.css.map */
