.header-container {
  display: flex;
  height: 77px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);;

  .header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      width: 245px;
      height: 61px;
      content: url("../files/tonka-logo.svg");


      &:hover {
        content: url("../files/tonka-logo-hover.svg");
      }

      &:active {
        content: url("../files/tonka-logo-active.svg");

      }
    }

    .header-nav-container {
      width: 670px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-wrapper {
        display: flex;
        width: 438px;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        height: 100%;

        .navbar-item a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;

          .navbar-item {
            //height: 100%;
            margin-left: 7px;
            width: 22px;
            height: 22px;


            &.support {
              content: url("../files/after-question.svg");
            }

            &.rules {
              content: url("../files/after-info.svg");
            }

            &.partners {
              content: url("../files/after-check.svg");
            }

            &.reviews {
              content: url("../files/after-send.svg");
            }
          }

          &:hover {
            color: #5a498a;
          }

          &:active {
            color: #9a82db;
          }

        }
      }

      .profile-wrapper {
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-button {
          width: 90px;
          height: 37px;
          border-radius: 10px;
          //font-size: 20px;
          font-style: normal;
          font-weight: 400;

          &:hover {
            border-width: 2px;
          }

          &:active {
            color: #516AE4;
          }
        }


      }
    }
  }
}

@media screen and (min-device-width: 350px) and (orientation: portrait) {

  #hamburger-button {
    display: block !important;
    position: fixed;


  }

  .header-container {
    padding-left: 15px;

    .header-wrapper {
      .header-logo {
        position: fixed !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .header-nav-container {
      position: fixed;
      width: 100% !important;
      height: 100% !important;
      flex-direction: column-reverse;
      top: 75px;
      transform: translateX(-100%) !important;
      right: 0;
      background: white;
      justify-content: center !important;
      align-items: center !important;
      transition: 0.1s ease-in-out;
      visibility: hidden;
      padding: 0;

      &.open {
        transform: translateX(0) !important;
        position: fixed !important;
        visibility: visible;


      }

      .navbar-wrapper, .profile-wrapper {
        position: relative;
        top: -70px;
      }

      .navbar-wrapper {
        flex-direction: column;
        width: 100vw !important;
        height: auto !important;
        justify-content: center;
        align-items: center;


        .navbar-item {
          text-align: center;

          .navbar-text {
            &:before {
              content: "•";
              position: absolute;
              left: 10px;
            }
          }

          .navbar-icon {
            display: none;
          }
        }

      }

      .profile-wrapper {
        flex-direction: column;
        height: auto !important;
        width: 100% !important;

        .profile-button {

          &:before {
            content: ">";
            position: absolute;
            left: 10px;
          }
        }
      }


      .profile-button, .navbar-item, a {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0 !important;
        height: 70px !important;
        border: none !important;
        background: none;
        color: #516AE4 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20) !important;
        justify-content: center;
        align-items: center;
        font-weight: 400;

        &:hover {
          color: white !important;
          background: #516AE4 !important;
        }

        &:active {
          border: none !important;
        }

      }

      .profile-button {
        color: #0028ff !important;
        font-weight: 600 !important;

      }
    }

  }
}

@media screen and (min-device-width: 851px) and (max-device-width: 1024px) {
  .navbar-wrapper {
    width: 300px !important;
  }
}

#hamburger-button {
  width: 30px;
  height: 45px;
  top: 11px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  display: none;

}

#hamburger-button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #516AE4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  z-index: 101;
}

#hamburger-button span:nth-child(1) {
  top: 0;
}

#hamburger-button span:nth-child(2), #hamburger-button span:nth-child(3) {
  top: 9px;
}

#hamburger-button span:nth-child(4) {
  top: 18px;
}

#hamburger-button.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#hamburger-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-button.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
