#main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}
#main-container #partners-container {
  width: 950px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  height: 600px;
  column-gap: 40px;
  row-gap: 20px !important;
}
#main-container #partners-container #partners-wrapper {
  width: 445px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
}
#main-container #partners-container #partners-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}
#main-container #partners-container #partners-wrapper .text-wrapper#header-text {
  width: 100%;
  height: fit-content;
  color: #000;
  font-style: normal;
  line-height: normal;
}
#main-container #partners-container #partners-wrapper .text-wrapper#header-text .text {
  font-size: 45px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  position: relative;
}
#main-container #partners-container #partners-wrapper .text-wrapper#body-text {
  width: 100%;
  height: fit-content;
}
#main-container #partners-container #partners-wrapper .text-wrapper#body-text .main-text {
  font-size: 35px;
  font-weight: 400;
}
#main-container #partners-container #partners-wrapper .text-wrapper#body-text .sub-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  left: 3px;
  width: 450px;
}
#main-container #partners-container #partners-wrapper #discount-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 221px;
  row-gap: 30px;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 20px;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item .enum {
  height: 100%;
  width: 50px;
  color: #516AE4;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item .enum.white {
  background: #F1F3FE !important;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item .text-wrapper {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item .text-wrapper .main-text {
  color: #000;
}
#main-container #partners-container #partners-wrapper #discount-list .list-item .text-wrapper .sub-text {
  color: rgba(0, 0, 0, 0.5);
}
#main-container #partners-container #referrals-wrapper {
  width: 400px;
  height: 650px;
  border-radius: 20px;
  border: 1px solid #B7B7B7;
  background: #FFF;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}
#main-container #partners-container #referrals-wrapper .header-wrapper {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  column-gap: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
#main-container #partners-container #referrals-wrapper .header-wrapper .referral-button {
  background: none;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 0.02ms ease-in-out;
}
#main-container #partners-container #referrals-wrapper .header-wrapper .referral-button:hover {
  color: rgba(0, 0, 0, 0.4);
}
#main-container #partners-container #referrals-wrapper .header-wrapper .referral-button:active {
  color: #516AE4;
}
#main-container #partners-container #referrals-wrapper .profile-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#main-container #partners-container #referrals-wrapper .profile-container .profile-wrapper {
  width: 100%;
  height: fit-content;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-container #partners-container #referrals-wrapper .profile-container .profile-wrapper .profile-button {
  width: 100%;
  height: 45px;
}

footer {
  display: none !important;
}

@media screen and (min-width: 551px) and (max-width: 984px) {
  #partners-container {
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    row-gap: 50px !important;
    height: 100% !important;
  }
  #partners-container #partners-wrapper {
    width: 450px !important;
    align-items: start !important;
    row-gap: 20px !important;
  }
  #partners-container #partners-wrapper .text-wrapper {
    align-items: start !important;
    text-align: start !important;
  }
  #partners-container #partners-wrapper .text-wrapper#header-text .text {
    font-size: 60px !important;
    letter-spacing: 4px;
  }
  #partners-container #partners-wrapper .text-wrapper#body-text .main-text {
    font-size: 43px !important;
  }
  #partners-container #partners-wrapper .text-wrapper#body-text .sub-text {
    font-size: 20px;
  }
  #partners-container #referrals-wrapper {
    width: 450px !important;
  }
}
@media screen and (max-width: 860px) {
  footer {
    display: flex !important;
  }
}
@media screen and (max-width: 550px) {
  #main-container {
    padding: 0 !important;
  }
  #partners-container {
    width: 100% !important;
    height: 100% !important;
  }
  #partners-wrapper, #referrals-wrapper {
    width: 100% !important;
  }
  #partners-container #partners-wrapper {
    padding: 30px !important;
    height: 100vh !important;
    row-gap: 10px !important;
  }
  #partners-container #partners-wrapper .text-wrapper#header-text .text {
    font-size: 50px !important;
  }
  #partners-container #partners-wrapper .text-wrapper#body-text .main-text {
    font-size: 30px !important;
  }
  #partners-container #partners-wrapper .text-wrapper#body-text .sub-text {
    font-size: 15px !important;
    width: 100% !important;
  }
  #partners-container #referrals-wrapper {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid black !important;
  }
}

/*# sourceMappingURL=partners-styles.css.map */
