:root {
  --main-padding: 0 400px;
}

@font-face {
  font-family: Readex-Pro;
  src: url("../fonts/Readex-Pro.ttf");
}

@font-face {
  font-family: Roboto-Slab;
  src: url("../fonts/Roboto-Slab.ttf");
}

.no-outline {
  border: none;
}
.no-outline:focus {
  outline: none;
}
body {
  font-family: Readex-Pro;
}

header,
footer {
  z-index: 101;
  display: flex;
  justify-content: center;
  height: 100px;
  .header {
    height: 100%;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    .nav-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      .nav-el {
        margin-left: 29px;
      }
      .nav-text-wrapper {
        font-size: 18px;
        font-weight: 320;
        display: flex;
        transition: ease-in-out;
        transition-duration: 0.1s;
        path,
        .border {
          stroke: #516ae4;
        }
        .dot {
          fill: #516ae4;
        }
        &:hover {
          color: #516ae4;
        }
        .nav-ico {
          margin-left: 8px;
        }
      }

      .log-btn {
        padding: 10px;
        border-radius: 10px;
        border: 0;
        width: 102px;
        height: 43px;
        background-color: #f1f3fe;
        color: #516ae4;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: Roboto-Slab;

        &:hover {
          background-color: #516ae4;
          color: #f1f3fe;
        }
      }
    }
  }
}

#main-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-position: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .description-banner-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .main-banner {
      display: flex;
      justify-content: space-between;
      height: 100%;

      .banner-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .banner-img-bg {
          content: url("../files/crate-left-bckg.svg");
          width: 400px;
          position: absolute;
        }
      }

      .banner-text-wrapper {
        padding: 80px 0;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .main-text {
          line-height: 64px;
          font-size: 64px;
          font-weight: 400;
          width: 30vw;
        }
        .secondary-text {
          font-size: 24px;
          font-weight: 200;
          width: 21vw;
        }
      }
    }
  }
  .exchange-banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .exchange-banner {
      width: 1000px;
      height: 560px;
      display: flex;
      flex-direction: column;
      border: solid;
      border-width: 1px;
      border-radius: 20px;
      border-color: rgba(154, 130, 219, 0.6);
      background-color: rgba(244, 244, 244, 0.2);
      padding: 30px;
      .exchange-banner-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 79px;
        padding-bottom: 30px;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgba(154, 130, 219, 0.6);
        .header-left {
          width: 470px;
          height: 100%;
          display: flex;
          align-items: center;
          .enum-one {
            display: flex;
            width: 49px;
            height: 49px;
            border-radius: 15px;
            background-color: #516ae4;
            justify-content: center;
            align-items: center;
            font-size: 23px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
          }
          .left-text {
            margin-left: 14px;
            font-size: 16px;
          }
        }
        .header-right {
          display: flex;
          .header-nav {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease-in-out;
            transition-duration: 0.05s;
            border: solid;
            border-width: 1px;
            margin-left: 15px;
            border-radius: 20px;
            color: #c3c3c3;
            background-color: white;
            border-color: #dadada;
            cursor: pointer;
            &:hover {
              background-color: #516ae4;
              color: white;
            }
          }
          #all {
            background-color: #516ae4;
            color: white;
            border: none;
          }
        }
      }

      .exchange-banner-subheader {
        padding: 33px 0;
        font-size: 33px;
        font-weight: 500;
      }
      .exchange-banner-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side,
        .right-side {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        .exchange-field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 447px;
          height: 75px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 20px;
          margin-top: 16px;
          padding: 0 20px;
          font-size: 14px;
          font-weight: 600;
          .left-text-wrapper {
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .exchange-submit-field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 447px;
          height: 75px;
          margin-top: 16px;
          padding-right: 20px;
          font-size: 14px;
          font-weight: 600;

          .exchange-btn {
            width: 202px;
            height: 51px;
            border: none;
            background-color: #516ae4;
            border-radius: 15px;
            color: white;
            font-size: 16px;
            font-weight: 400;
            outline: none;
            cursor: pointer;
            transition: ease-in-out;
            transition-duration: 0.05s;
            border: solid;
            border-color: #516ae4;
            border-width: 1px;
            &:hover {
              color: #516ae4;
              font-weight: 500;
              background-color: white;
              border-color: #dadada;
            }
            &:active {
              transition: none;
              border-color: #516ae4;
            }
          }
          .exchange-policy {
            width: 202px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            .exchange-rules {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .advantages-banner-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .advantages-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      .banner-img-wrapper {
        height: 400px;
        width: 370px;
        #donut {
          opacity: 0.5;
          margin: 30px 0 0 150px;
        }
        #box {
          margin: 0 100px 0 0;
        }
        #sphere {
          opacity: 0.5;
        }
        #ellipse {
          margin-left: auto;
        }
      }
      .advantages-wrapper {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .advantages-header {
          font-size: 48px;
          height: 61px;
          padding-bottom: 100px;
        }
        .advantages-body {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 720px;
          height: 370px;
          .advantages-item-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
            .advantages-item {
              width: 230px;
              display: flex;
              align-items: center;
              flex-direction: column;
              .item-ico {
                width: 68px;
                height: 65px;
                background-color: #516ae4;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .item-text-wrapper {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                .main-text {
                  font-weight: 600;
                }
                .secondary-text {
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 25px;
                  width: 150px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .reviews-banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    padding-bottom: 40px;
    background: linear-gradient(#9a82db, #fff);
    .reviews-banner {
      width: 1440px;
      height: 700px;
      display: flex;
      font-weight: 300;
      padding: 68px 135px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(244, 244, 244, 0.2);
      border: solid;
      border-width: 1px;
      border-radius: 20px;
      border-color: rgba(154, 130, 219, 0.6);
      .reviews-wrapper {
        width: 100%;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .reviews {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .reviews-card {
            width: 357px;
            height: 207px;
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 20px;
            .card-header {
              display: flex;
              flex-direction: row;
              align-items: center;
              #comment1 {
                width: 56px;
                height: 56px;
                border-radius: 100px;
                border: solid;
                border-color: #d1d1d1;
                border-width: 1.77px;
                content: url("../icons/comment1.jpg");
              }
              .header-text {
                margin-left: 11px;
                display: flex;
                flex-direction: column;
                align-items: start;
              }
            }
            .card-body {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
            }
          }
        }
      }

      .reviews-load-more {
        height: 60px;
        width: 100%;
        background-color: #516ae4;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 19px;
        font-weight: 500;
        border-width: 1px;
        cursor: pointer;
        transition: ease-in-out;
        transition-duration: 0.05s;
        border: solid;
        border-color: #516ae4;
        border-width: 1px;
        &:hover {
          color: #516ae4;
          font-weight: 500;
          background-color: white;
          border-color: #dadada;
        }
        &:active {
          transition: none;
          border-color: #516ae4;
        }
      }
    }
  }
}

#rules-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  .page-wrapper {
    width: 100%;
    height: 1259px;
    display: flex;
    justify-content: center;
    padding-top: 96px;
    background: rgba(255, 255, 255, 0.8);
    .rules-wrapper {
      width: 727px;
      height: 1090px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header-text {
        font-size: 65px;
        display: flex;
      }
      .subheader-text {
        font-size: 40px;
        display: flex;
      }
      .main-text-wrapper {
        font-size: 25px;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 900px;
      }
    }
    .reviews-wrapper {
      width: 456px;
      height: 984px;
      margin-left: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 20px;
      border: solid;
      border-width: 1px;
      border-color: #b7b7b7;
      .reviews-header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
      }
      .reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 780px;

        .reviews-card {
          width: 357px;
          height: 207px;
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: #f4f5fa;
          border-radius: 20px;
          font-size: 14px;

          .card-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            #comment1 {
              width: 56px;
              height: 56px;
              border-radius: 100px;
              border: solid;
              border-color: #d1d1d1;
              border-width: 1.77px;
              content: url("../icons/comment1.jpg");
            }
            .header-text {
              margin-left: 11px;
              display: flex;
              flex-direction: column;
              align-items: start;
            }
          }
          .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
      }
    }
  }
}

#application-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);
  .page-wrapper {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 135px 154px 0px 154px;
    .application-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1200px;
      .pair-wrapper,
      .submit-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        // height: 1050px;
      }
      .pair-wrapper {
        width: 585px;
        // background: green;
        .application-number {
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 72px;
        }

        .pair-to-change {
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 55px;
        }

        .crypto-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 270px;
          .crypto,
          .details {
            width: 514px;
            height: 71px;
            background-color: white;
            border: solid;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            .space-box {
              width: 64px;
            }

            .input-wrapper {
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              .upper-text {
                color: rgba(0, 0, 0, 0.5);
              }
            }
          }
          .details {
            .switch-arrows {
              width: 64px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .submit-wrapper {
        width: 507px;
        background: red;
      }
    }
  }
}

#partners-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);
  .page-wrapper {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    padding-top: 60px;
    .section-wrapper {
      display: flex;
      justify-content: space-between;
      width: 1170px;
      .partners-wrapper {
        width: 542px;
        height: 670px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .partners-header-text {
          font-size: 60px;
          font-weight: 400;
          height: 80px;
        }
        .partners-referral-link-wrapper {
          height: 230px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .referall-header-text {
            font-size: 45px;
            font-weight: 400;
          }
          .referall-main-text {
            font-size: 24px;
            font-weight: 300;
            opacity: 0.6;
          }
        }
        .partners-discount-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 278px;

          .list-wrapper {
            height: 76px;
            width: 230px;
            display: flex;
            align-items: center;
            .enum {
              width: 66px;
              height: 66px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f1f3fe;
              color: #516ae4;
              border-radius: 20px;
              font-size: 34px;
              font-weight: 300;
            }
            .discount-wrapper {
              margin-left: 14px;
              font-size: 24px;
              font-weight: 300;
              .lower-text {
                opacity: 0.5;
              }
            }
          }
        }
      }
      .referalls-wrapper {
        width: 542px;
        height: 670px;
        background-color: #fff;
        border: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 37px;
        .referrals-header-wrapper {
          width: 100%;
          height: 48px;
          border-bottom: solid;
          border-width: 1px;
          border-color: rgba(0, 0, 0, 0.25);
          color: black;
          font-weight: 300;
          font-size: 24px;
          transition: ease-in-out;
          transition-duration: 0.1s;
          .referral-button {
            background: none;
            border: none;
            height: fit-content;
            width: fit-content;
            cursor: pointer;
            &:hover {
              color: #516ae4;
            }
          }
          #Recent {
            margin-left: 22px;
          }
        }
        .referrals-log-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 124px;
            .log-btn {
              padding: 10px;
              border-radius: 10px;
              border: 0;
              width: 419px;
              height: 52px;

              font-size: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              font-family: Roboto-Slab;
              background-color: #f1f3fe;
              color: #516ae4;
              &:hover {
                background-color: #516ae4;
                color: #f1f3fe;
              }
            }
          }
        }
      }
    }
  }
}

#login-page,
#registration-page {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(154, 130, 219, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: calc(100vh - 100px);
  color: black;
  .authorization-wrapper {
    width: 1001px;
    height: 731px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #f4f5fa;
    .authorization-header {
      width: 100%;
      height: 56px;
      border-bottom: solid 1px;
      border-color: rgba(0, 0, 0, 0.2);
      .link-wrapper {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        transition: ease-in-out;
        transition-duration: 0.1s;
        #registration-button {
          margin-left: 28px;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .authorization-body {
      margin-top: 55px;
      width: 456px;
      height: 372px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .authorization-header-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .authorization-header-text {
          font-size: 40px;
          font-weight: 400;
        }
        .authorization-subheader-text {
          font-size: 20px;
          font-weight: 300;
        }
      }

      .authorization-field-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 149px;
        .input-field {
          width: 456px;
          height: 64px;
          padding: 16px;
          background-color: #fff;
          border-radius: 15px;
          border: solid 1px;
          border-color: rgba(0, 0, 0, 0.2);
        }
      }

      .authorization-login-button {
        width: 456px;
        height: 46px;
        border: none;
        background-color: #516ae4;
        border-radius: 15px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        transition: ease-in-out;
        transition-duration: 0.05s;
        border: solid;
        border-color: #516ae4;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto-Slab;
        &:hover {
          color: #516ae4;
          font-weight: 500;
          background-color: white;
          border-color: #dadada;
        }
        &:active {
          transition: none;
          border-color: #516ae4;
        }
      }
    }
  }
}

#registration-page {
  .authorization-wrapper {
    height: 800px;
    .authorization-header {
      .link-wrapper {
        #authorization-button {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
        #registration-button {
          opacity: 1;
        }
      }
    }
    .authorization-body {
      height: 550px;
      .authorization-field-wrapper {
        height: 330px;
      }
    }
  }
}
