:root {
  --main-padding: 0 400px;
}

@font-face {
  font-family: Readex-Pro;
  src: url("../fonts/Readex-Pro.ttf");
}
@font-face {
  font-family: Roboto-Slab;
  src: url("../fonts/Roboto-Slab.ttf");
}
.no-outline {
  border: none;
}

.no-outline:focus {
  outline: none;
}

body {
  font-family: Readex-Pro;
}

header,
footer {
  z-index: 101;
  display: flex;
  justify-content: center;
  height: 100px;
}
header .header,
footer .header {
  height: 100%;
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
header .header .nav-bar,
footer .header .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header .nav-bar .nav-el,
footer .header .nav-bar .nav-el {
  margin-left: 29px;
}
header .header .nav-bar .nav-text-wrapper,
footer .header .nav-bar .nav-text-wrapper {
  font-size: 18px;
  font-weight: 320;
  display: flex;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
header .header .nav-bar .nav-text-wrapper path,
header .header .nav-bar .nav-text-wrapper .border,
footer .header .nav-bar .nav-text-wrapper path,
footer .header .nav-bar .nav-text-wrapper .border {
  stroke: #516ae4;
}
header .header .nav-bar .nav-text-wrapper .dot,
footer .header .nav-bar .nav-text-wrapper .dot {
  fill: #516ae4;
}
header .header .nav-bar .nav-text-wrapper:hover,
footer .header .nav-bar .nav-text-wrapper:hover {
  color: #516ae4;
}
header .header .nav-bar .nav-text-wrapper .nav-ico,
footer .header .nav-bar .nav-text-wrapper .nav-ico {
  margin-left: 8px;
}
header .header .nav-bar .log-btn,
footer .header .nav-bar .log-btn {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  width: 102px;
  height: 43px;
  background-color: #f1f3fe;
  color: #516ae4;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Roboto-Slab;
}
header .header .nav-bar .log-btn:hover,
footer .header .nav-bar .log-btn:hover {
  background-color: #516ae4;
  color: #f1f3fe;
}

#rules-page {
  background: linear-gradient(#fff, #9a82db 60%) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
#rules-page .page-wrapper {
  width: 100%;
  height: 1259px;
  display: flex;
  justify-content: center;
  padding-top: 96px;
  background: rgba(255, 255, 255, 0.8);
}
#rules-page .page-wrapper .rules-wrapper {
  width: 727px;
  height: 1090px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#rules-page .page-wrapper .rules-wrapper .header-text {
  font-size: 65px;
  display: flex;
}
#rules-page .page-wrapper .rules-wrapper .subheader-text {
  font-size: 40px;
  display: flex;
}
#rules-page .page-wrapper .rules-wrapper .main-text-wrapper {
  font-size: 25px;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
}
#rules-page .page-wrapper .reviews-wrapper {
  width: 456px;
  height: 984px;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  border: solid;
  border-width: 1px;
  border-color: #b7b7b7;
}
#rules-page .page-wrapper .reviews-wrapper .reviews-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
#rules-page .page-wrapper .reviews-wrapper .reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 780px;
}
#rules-page .page-wrapper .reviews-wrapper .reviews .reviews-card {
  width: 357px;
  height: 207px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f4f5fa;
  border-radius: 20px;
  font-size: 14px;
}
#rules-page .page-wrapper .reviews-wrapper .reviews .reviews-card .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#rules-page .page-wrapper .reviews-wrapper .reviews .reviews-card .card-header #comment1 {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: solid;
  border-color: #d1d1d1;
  border-width: 1.77px;
  content: url("../icons/comment1.jpg");
}
#rules-page .page-wrapper .reviews-wrapper .reviews .reviews-card .card-header .header-text {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#rules-page .page-wrapper .reviews-wrapper .reviews .reviews-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#application-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);
}
#application-page .page-wrapper {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 135px 154px 0px 154px;
}
#application-page .page-wrapper .application-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper,
#application-page .page-wrapper .application-wrapper .submit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper {
  width: 585px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .application-number {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .pair-to-change {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .crypto,
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .details {
  width: 514px;
  height: 71px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .crypto .space-box,
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .details .space-box {
  width: 64px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .crypto .input-wrapper,
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .details .input-wrapper {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .crypto .input-wrapper .upper-text,
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .details .input-wrapper .upper-text {
  color: rgba(0, 0, 0, 0.5);
}
#application-page .page-wrapper .application-wrapper .pair-wrapper .crypto-wrapper .details .switch-arrows {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#application-page .page-wrapper .application-wrapper .submit-wrapper {
  width: 507px;
  background: red;
}

#partners-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);
}
#partners-page .page-wrapper {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  padding-top: 60px;
}
#partners-page .page-wrapper .section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper {
  width: 542px;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-header-text {
  font-size: 60px;
  font-weight: 400;
  height: 80px;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-referral-link-wrapper {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-referral-link-wrapper .referall-header-text {
  font-size: 45px;
  font-weight: 400;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-referral-link-wrapper .referall-main-text {
  font-size: 24px;
  font-weight: 300;
  opacity: 0.6;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-discount-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 278px;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-discount-wrapper .list-wrapper {
  height: 76px;
  width: 230px;
  display: flex;
  align-items: center;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-discount-wrapper .list-wrapper .enum {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3fe;
  color: #516ae4;
  border-radius: 20px;
  font-size: 34px;
  font-weight: 300;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-discount-wrapper .list-wrapper .discount-wrapper {
  margin-left: 14px;
  font-size: 24px;
  font-weight: 300;
}
#partners-page .page-wrapper .section-wrapper .partners-wrapper .partners-discount-wrapper .list-wrapper .discount-wrapper .lower-text {
  opacity: 0.5;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper {
  width: 542px;
  height: 670px;
  background-color: #fff;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 37px;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-header-wrapper {
  width: 100%;
  height: 48px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  color: black;
  font-weight: 300;
  font-size: 24px;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-header-wrapper .referral-button {
  background: none;
  border: none;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-header-wrapper .referral-button:hover {
  color: #516ae4;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-header-wrapper #Recent {
  margin-left: 22px;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-log-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-log-wrapper .button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-log-wrapper .button-wrapper .log-btn {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  width: 419px;
  height: 52px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Roboto-Slab;
  background-color: #f1f3fe;
  color: #516ae4;
}
#partners-page .page-wrapper .section-wrapper .referalls-wrapper .referrals-log-wrapper .button-wrapper .log-btn:hover {
  background-color: #516ae4;
  color: #f1f3fe;
}

#login-page,
#registration-page {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(154, 130, 219, 0.5), rgba(255, 255, 255, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: calc(100vh - 100px);
  color: black;
}
#login-page .authorization-wrapper,
#registration-page .authorization-wrapper {
  width: 1001px;
  height: 731px;
  padding: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #f4f5fa;
}
#login-page .authorization-wrapper .authorization-header,
#registration-page .authorization-wrapper .authorization-header {
  width: 100%;
  height: 56px;
  border-bottom: solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
}
#login-page .authorization-wrapper .authorization-header .link-wrapper,
#registration-page .authorization-wrapper .authorization-header .link-wrapper {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  transition: ease-in-out;
  transition-duration: 0.1s;
}
#login-page .authorization-wrapper .authorization-header .link-wrapper #registration-button,
#registration-page .authorization-wrapper .authorization-header .link-wrapper #registration-button {
  margin-left: 28px;
  opacity: 0.5;
}
#login-page .authorization-wrapper .authorization-header .link-wrapper #registration-button:hover,
#registration-page .authorization-wrapper .authorization-header .link-wrapper #registration-button:hover {
  opacity: 1;
}
#login-page .authorization-wrapper .authorization-body,
#registration-page .authorization-wrapper .authorization-body {
  margin-top: 55px;
  width: 456px;
  height: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#login-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper,
#registration-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#login-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper .authorization-header-text,
#registration-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper .authorization-header-text {
  font-size: 40px;
  font-weight: 400;
}
#login-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper .authorization-subheader-text,
#registration-page .authorization-wrapper .authorization-body .authorization-header-text-wrapper .authorization-subheader-text {
  font-size: 20px;
  font-weight: 300;
}
#login-page .authorization-wrapper .authorization-body .authorization-field-wrapper,
#registration-page .authorization-wrapper .authorization-body .authorization-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 149px;
}
#login-page .authorization-wrapper .authorization-body .authorization-field-wrapper .input-field,
#registration-page .authorization-wrapper .authorization-body .authorization-field-wrapper .input-field {
  width: 456px;
  height: 64px;
  padding: 16px;
  background-color: #fff;
  border-radius: 15px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
}
#login-page .authorization-wrapper .authorization-body .authorization-login-button,
#registration-page .authorization-wrapper .authorization-body .authorization-login-button {
  width: 456px;
  height: 46px;
  border: none;
  background-color: #516ae4;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.05s;
  border: solid;
  border-color: #516ae4;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto-Slab;
}
#login-page .authorization-wrapper .authorization-body .authorization-login-button:hover,
#registration-page .authorization-wrapper .authorization-body .authorization-login-button:hover {
  color: #516ae4;
  font-weight: 500;
  background-color: white;
  border-color: #dadada;
}
#login-page .authorization-wrapper .authorization-body .authorization-login-button:active,
#registration-page .authorization-wrapper .authorization-body .authorization-login-button:active {
  transition: none;
  border-color: #516ae4;
}

#registration-page .authorization-wrapper {
  height: 800px;
}
#registration-page .authorization-wrapper .authorization-header .link-wrapper #authorization-button {
  opacity: 0.5;
}
#registration-page .authorization-wrapper .authorization-header .link-wrapper #authorization-button:hover {
  opacity: 1;
}
#registration-page .authorization-wrapper .authorization-header .link-wrapper #registration-button {
  opacity: 1;
}
#registration-page .authorization-wrapper .authorization-body {
  height: 550px;
}
#registration-page .authorization-wrapper .authorization-body .authorization-field-wrapper {
  height: 330px;
}

/*# sourceMappingURL=styles.css.map */
