:root {
  --main-padding: 0 400px;
}

@font-face {
  font-family: Readex-Pro;
  src: url("../fonts/Readex-Pro.ttf");
}

@font-face {
  font-family: Roboto-Slab;
  src: url("../fonts/Roboto-Slab.ttf");
}

.no-outline {
  border: none;
}

.no-outline:focus {
  outline: none;
}

body {
  font-family: Readex-Pro;
}

header,
footer {
  z-index: 101;
  display: flex;
  justify-content: center;
  height: 100px;

  .header {
    height: 100%;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;

    .nav-bar {
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav-el {
        margin-left: 29px;
      }

      .nav-text-wrapper {
        font-size: 18px;
        font-weight: 320;
        display: flex;
        transition: ease-in-out;
        transition-duration: 0.1s;

        path,
        .border {
          stroke: #516ae4;
        }

        .dot {
          fill: #516ae4;
        }

        &:hover {
          color: #516ae4;
        }

        .nav-ico {
          margin-left: 8px;
        }
      }

      .log-btn {
        padding: 10px;
        border-radius: 10px;
        border: 0;
        width: 102px;
        height: 43px;
        background-color: #f1f3fe;
        color: #516ae4;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: Roboto-Slab;

        &:hover {
          background-color: #516ae4;
          color: #f1f3fe;
        }
      }
    }
  }
}


#rules-page {
  background: linear-gradient(#fff, #9a82db 60%) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;

  .page-wrapper {
    width: 100%;
    height: 1259px;
    display: flex;
    justify-content: center;
    padding-top: 96px;
    background: rgba(255, 255, 255, 0.8);

    .rules-wrapper {
      width: 727px;
      height: 1090px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header-text {
        font-size: 65px;
        display: flex;
      }

      .subheader-text {
        font-size: 40px;
        display: flex;
      }

      .main-text-wrapper {
        font-size: 25px;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 900px;
      }
    }

    .reviews-wrapper {
      width: 456px;
      height: 984px;
      margin-left: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 20px;
      border: solid;
      border-width: 1px;
      border-color: #b7b7b7;

      .reviews-header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
      }

      .reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 780px;

        .reviews-card {
          width: 357px;
          height: 207px;
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: #f4f5fa;
          border-radius: 20px;
          font-size: 14px;

          .card-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            #comment1 {
              width: 56px;
              height: 56px;
              border-radius: 100px;
              border: solid;
              border-color: #d1d1d1;
              border-width: 1.77px;
              content: url("../icons/comment1.jpg");
            }

            .header-text {
              margin-left: 11px;
              display: flex;
              flex-direction: column;
              align-items: start;
            }
          }

          .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
      }
    }
  }
}

#application-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);

  .page-wrapper {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 135px 154px 0px 154px;

    .application-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1200px;

      .pair-wrapper,
      .submit-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        // height: 1050px;
      }

      .pair-wrapper {
        width: 585px;
        // background: green;
        .application-number {
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 72px;
        }

        .pair-to-change {
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 55px;
        }

        .crypto-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 270px;

          .crypto,
          .details {
            width: 514px;
            height: 71px;
            background-color: white;
            border: solid;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;

            .space-box {
              width: 64px;
            }

            .input-wrapper {
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;

              .upper-text {
                color: rgba(0, 0, 0, 0.5);
              }
            }
          }

          .details {
            .switch-arrows {
              width: 64px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .submit-wrapper {
        width: 507px;
        background: red;
      }
    }
  }
}

#partners-page {
  background: linear-gradient(#fff, #9a82db 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  height: calc(100vh - 100px);

  .page-wrapper {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    padding-top: 60px;

    .section-wrapper {
      display: flex;
      justify-content: space-between;
      width: 1170px;

      .partners-wrapper {
        width: 542px;
        height: 670px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .partners-header-text {
          font-size: 60px;
          font-weight: 400;
          height: 80px;
        }

        .partners-referral-link-wrapper {
          height: 230px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .referall-header-text {
            font-size: 45px;
            font-weight: 400;
          }

          .referall-main-text {
            font-size: 24px;
            font-weight: 300;
            opacity: 0.6;
          }
        }

        .partners-discount-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 278px;

          .list-wrapper {
            height: 76px;
            width: 230px;
            display: flex;
            align-items: center;

            .enum {
              width: 66px;
              height: 66px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f1f3fe;
              color: #516ae4;
              border-radius: 20px;
              font-size: 34px;
              font-weight: 300;
            }

            .discount-wrapper {
              margin-left: 14px;
              font-size: 24px;
              font-weight: 300;

              .lower-text {
                opacity: 0.5;
              }
            }
          }
        }
      }

      .referalls-wrapper {
        width: 542px;
        height: 670px;
        background-color: #fff;
        border: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 37px;

        .referrals-header-wrapper {
          width: 100%;
          height: 48px;
          border-bottom: solid;
          border-width: 1px;
          border-color: rgba(0, 0, 0, 0.25);
          color: black;
          font-weight: 300;
          font-size: 24px;
          transition: ease-in-out;
          transition-duration: 0.1s;

          .referral-button {
            background: none;
            border: none;
            height: fit-content;
            width: fit-content;
            cursor: pointer;

            &:hover {
              color: #516ae4;
            }
          }

          #Recent {
            margin-left: 22px;
          }
        }

        .referrals-log-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 124px;

            .log-btn {
              padding: 10px;
              border-radius: 10px;
              border: 0;
              width: 419px;
              height: 52px;

              font-size: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              font-family: Roboto-Slab;
              background-color: #f1f3fe;
              color: #516ae4;

              &:hover {
                background-color: #516ae4;
                color: #f1f3fe;
              }
            }
          }
        }
      }
    }
  }
}

#login-page,
#registration-page {
  background: linear-gradient(
                  135deg,
                  rgba(255, 255, 255, 0.5),
                  rgba(154, 130, 219, 0.5),
                  rgba(255, 255, 255, 0.5)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: calc(100vh - 100px);
  color: black;

  .authorization-wrapper {
    width: 1001px;
    height: 731px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #f4f5fa;

    .authorization-header {
      width: 100%;
      height: 56px;
      border-bottom: solid 1px;
      border-color: rgba(0, 0, 0, 0.2);

      .link-wrapper {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        transition: ease-in-out;
        transition-duration: 0.1s;

        #registration-button {
          margin-left: 28px;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .authorization-body {
      margin-top: 55px;
      width: 456px;
      height: 372px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .authorization-header-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        .authorization-header-text {
          font-size: 40px;
          font-weight: 400;
        }

        .authorization-subheader-text {
          font-size: 20px;
          font-weight: 300;
        }
      }

      .authorization-field-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 149px;

        .input-field {
          width: 456px;
          height: 64px;
          padding: 16px;
          background-color: #fff;
          border-radius: 15px;
          border: solid 1px;
          border-color: rgba(0, 0, 0, 0.2);
        }
      }

      .authorization-login-button {
        width: 456px;
        height: 46px;
        border: none;
        background-color: #516ae4;
        border-radius: 15px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        transition: ease-in-out;
        transition-duration: 0.05s;
        border: solid;
        border-color: #516ae4;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto-Slab;

        &:hover {
          color: #516ae4;
          font-weight: 500;
          background-color: white;
          border-color: #dadada;
        }

        &:active {
          transition: none;
          border-color: #516ae4;
        }
      }
    }
  }
}

#registration-page {
  .authorization-wrapper {
    height: 800px;

    .authorization-header {
      .link-wrapper {
        #authorization-button {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        #registration-button {
          opacity: 1;
        }
      }
    }

    .authorization-body {
      height: 550px;

      .authorization-field-wrapper {
        height: 330px;
      }
    }
  }
}
